.cardlist_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    transition: 0.3s ease all;
}


.button:hover {
    transform: scale(1.05);
}
.button:active{
    
    transform: scale(0.98);
}
.button:disabled{
    
    transform: scale(1);
}