.tableInput {
    width:80%;
}
.errorInput {
    border: 2px solid red;
}


.btnEdit,  .btnCancel, .btnSave, .btnDelete {
    width: 60px;
    height: 22px;
    padding: 2px;
    border-radius: 3px;
    transition: 0.3s ease all;
    cursor: pointer;

}

button:hover {
    transform: scale(1.05);
}
button:active{
    
    transform: scale(0.98);
}

.btnDelete {
color: rgb(128, 7, 7);
background-color:rgb(228, 220, 220);
border: 1px solid rgb(128, 7, 7);
}

.btnSave {
    color: rgb(255, 255, 255);
    background-color:rgb(5, 84, 94);
    border: 1px solid rgb(255, 255, 255);
    }


.btnSave:disabled {
    color: rgb(255, 255, 255);
    background-color:rgb(87, 98, 100);
    border: 1px solid rgb(255, 255, 255);
    }

    .btnCancel {
        color: rgb(5, 84, 94);
        background-color:rgb(239, 239, 239);
        border: 1px solid rgb(5, 84, 94);
        }
       

.btnEdit {
    color: rgb(255, 255, 255);
    background-color:rgb(6, 63, 132);
    border: 1px solid rgb(255, 255, 255);
    }