.cardContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 204, 165);
   align-items: center;
  
    max-width: 60vw;
    min-width: 200px;
    min-height: 300px;
    border-radius: 20px;
    border: 1px solid #fff;
    margin: 0 3vw;
    
}
.card_word{
    font-size: 3rem;
    color: rgb(18, 85, 63);
    font-weight: 500;
    margin: 10vw 5px 10px 5px;
    
}
.card_transcription{
    font-size: 1rem;
    color: rgb(51, 36, 5);
}

.card_translation, .card_button{
    font-size: 1rem;
    color: rgb(21, 20, 19);
    background-color: antiquewhite;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin: 100px 5px 30px 5px;
    border: 1px solid #8a8686;
   
}
.card_button {
transition: 0.3s ease all;
cursor: pointer;
}


.card_button:hover {
    transform: scale(1.05);
    background-color: rgb(5, 84, 94);
    color: #fff;
}
.card_button:active{
    
    transform: scale(0.98);
}
.card_button:disabled{
    
    transform: scale(1);
}